
@{
    ViewBag.Title = "Student Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student's Marks</h2>
<table id="students" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>EC1</th>
            <th>EC2</th>
            <th>EC3</th>
            <th>EC4</th>
            <th>EC5</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var students in Model)
        {
            <tr>
                <td>
                    <span>@students.FStudentName</span>
                </td>
                <td>
                    <span>@students.EC1</span>
                </td>
                <td>
                    <span>@students.EC2</span>
                </td>
                <td>
                    <span>@students.EC3</span>
                </td>
                <td>
                    <span>@students.EC4</span>
                </td>
                <td>
                    <span>@students.EC5</span>
                </td>
                <td>
                    <span>@students.TotalMarks</span>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>

    <a class="btn btn-primary" href="@Url.Action("showResultsOfAll/", "Students")">Show Results of All</a>

</p>

